#carrello{
	margin: 0 auto;
    display: table;
    max-width: 980px;
    background-color: white;
    margin-top: 3em;
    margin-bottom: 3em;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.divButton {
	background-color: #9bd670;
	color: white;
	border-radius: 50px;
	border: none;
	padding: .5% 1%;
	cursor: pointer;
	 font-size: 1em;
}

.divCentro{
	display: none;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    background: white;
    z-index: 1000;
    text-align: center;
    padding: 1em;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}



#acquistaButton{
	margin: 0 auto;
    background-color: #9bd670;
    color: white;
    border-radius: 50px;
    font-size: 1.5em;
    border: none;
    display: table;
    margin-bottom: 2em;
}

.QtaButton{
	margin: 0 auto;
	background-color: #9bd670;
	color: white;
	border-radius: 50px;
	font-size: 1em;
	border: none;
	margin-right: 0.5em;
	margin-bottom: 1em;
	height: 1.5em;
	width: 1.5em;
	cursor: pointer;
	text-decoration: none;
}

#acquistaButton:hover, .QtaButton:hover, .divButton:hover {
	background-color: #4CAF50;
}

.removeButton{
	background-color: #d44736;
	font-size: 0.7em;
	border-radius: 50px;
	border: none;
	height: 1.5em;
	width: 1.5em;
	padding: 2%;
	cursor: pointer;
}

.removeButton:hover {
	background-color: red;
}

#prodotti td img{
	
	width: 8em;
}

#prodotti td {
	text-align: center;
	width: 10em;
}

   
    
#prodotti input{
	 max-width: 4em;
}

#prodotti th{
	padding: 1em;
}

#prodotti tr td {
	border-top: 2px solid #f1f1f1;
}

#prodotti{
	
	border-collapse: collapse;
	border-bottom: 2px solid #f1f1f1;
	margin-bottom: 1em;
}

@media screen and (max-width: 767px){
	
	#prodotti td {
	display: block;
    position: relative;
	width: 30em;
    margin-bottom: 1em;
	}
	
	#prodotti td:before {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    content: attr(data-title);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40%;
    line-height: 1.42857143;
    text-align: right;
    font-weight: 700;
	}
	
	#prodotti tr td {
	border-top: none;
}

#prodotti th{
	display:none;
}


}


	
}

  