@charset "UTF-8";
html, body {
  height: 100%;
}
article#main-container{
	max-height: 71.5%;
	height: auto;
	max-width:83%;
	width: auto;/*83%*/
  	padding: 10px;
  	border: 5px solid gray;
	float:right;
	overflow:scroll;
	background-color: white;
} 		

* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items:baseline;
  justify-content: center;
  align-content: flex-start
}

.column {
  display: flex;
  flex: 16.6%;
  padding: 5px;
}
button:hover {
	background-color: #1B3409;
}

.ButtonCarrello{
	width:100%;
	margin:0;
	border:none;
	background-color: #9BD770;
	height: 3em;
}


.immagine{
	background-repeat: no-repeat;
	background-size: cover;
	width:10em;
	height: 10em;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  	article#main-container {
		max-height: 110.8%;
		max-width:100%;

	} 		
}

@media screen and (min-width: 480px) and (max-width: 768px){
  	article#main-container {
		max-height: 110.5%;
		max-width:100%;
}
	
}
